[submodule "tfd-nuxt-tailwind-boilerplate"]
	path = tfd-nuxt-tailwind-boilerplate
	url = https://github.com/kongpda/tfd-nuxt-tailwind-boilerplate.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kongpda/tfd-nuxt-tailwind-boilerplate.git
[submodule "backend"]
	path = backend
	url = https://github.com/kongpda/tfd-nest-boilerplate.git
